<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageMethod" value="0"/>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="3306"/>
    <add key="User" value="unknown"/>
    <add key="Password" value="unknown"/>
    <add key="Database" value="unknown"/>
    <add key="GalleryPath" value=""/>
    <add key="AskForConfig" value="false"/>
  </appSettings>
</configuration>